
@{
    ViewBag.Title = "GioiThieu_61130137";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>GioiThieu_61130137</h2>
<table>
    <tr>
        <th>Mã số sinh viên dự kiểm tra</th>
        <th>61130137</th>
    </tr>
    <tr>
        <th>Họ tên sinh viên dự kiểm tra</th>
        <th>Nguyễn Thành Đạt</th>
    </tr>
    <tr>
        <th>Lớp</th>
        <th>61.cntt2</th>
    </tr>
    <tr>
        <th>Ngày kiểm tra</th>
        <th>....</th>
    </tr>
</table>

