@model truonglol.Models.QUANAO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string xuatxu = "";
}

    <h2>Details</h2>
    
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAQA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
