
@{
    ViewBag.Title = "GioiThieu_61130137";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    table {
        border: 1px solid black;
        border-spacing: 15px 150px;
        
    }
    table, h2 {
        margin: 15px;
    }
    th, td {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 40px;
    }
</style>
<h2>GIỚI THIỆU</h2>
<table>
    <tr>
        <th>Mã số sinh viên dự kiểm tra</th>
        <th>61130137</th>
    </tr>
    <tr>
        <th>Họ tên sinh viên dự kiểm tra</th>
        <th>Nguyễn Thành Đạt</th>
    </tr>
    <tr>
        <th>Lớp</th>
        <th>61.cntt2</th>
    </tr>
    <tr>
        <th>Ngày kiểm tra</th>
        <th>31/10/2021</th>
    </tr>
</table>
