
@{
    ViewBag.Title = "Detail";
    Layout = null;
}

<h2>Student Detail</h2>
<ul>
    <li>ID:@ViewBag.Id</li>
    <li>Name:@ViewData["Name"]</li>
    <li>Marks: @ViewBag.Marks</li>
</ul>

@{ var message = "Hello World";}
<p>Giá trị của message là: @message</p>
@{ 
    var greeting = "Welcome to our site";
    var weekDay = DateTime.Now.DayOfWeek;
    var greetingMessage = greeting + "Today is: " + weekDay;

}
<p>Lời chào là: @greetingMessage</p>