
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    ViewBag.Title = "GioiThieu_59130126";
}


<h2>THÔNG TIN SINH VIÊN</h2>
<div style="margin-left: 30px; font-size: 16px;">
    <table>
        <tr>
            <td><b>Mã sinh viên:</b></td>
            <td>59130126</td>
        </tr>
        <tr>
            <td><b>Lớp:</b></td>
            <td>59.CNTT-2</td>
        </tr>
        <tr>
            <td><b>Ngày kiểm tra:</b></td>
            <td>08-07-2020</td>
        </tr>
    </table>
</div>
